.nav-link {
    margin-right:  30px;

}


header, nav {
/*
    background-color: rgba(52,73,94,0.5); / *34495 *//*
} */
    background: rgba(2,34,93,0.6);
    border-radius: 10px 100px / 120px;
    font-size: 20px;
    font-weight: 900;

}

header, nav, a, a:link, a:visited, a:hover, a:active {
    text-decoration none;
    color: white;
}

footer {
    background-color: rgba(2,34,93,0.9);
    padding: 50px;
}

footer, h1 {
    color: white;
}

footer, a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

.main {
    background-color: rgba(255,255,240,0.2);
    height: 100vh;

}

