
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-3 footer-col">
                    <h3>Informations</h3>
                    <ul>
                       <li><a href="">FAQ</a></li>
                        <li><a href="">Terms and Conditions</a></li>
                        <li><a href="">T&Cs</a></li>
                    </ul>
                </div>

                 <div class="col-3 footer-col">
                    <h3>Product</h3>
                    <ul>
                       <li><a href="">Species</a></li>
                        <li><a href="">New Fish</a></li>
                        <li><a href="">Catalogue</a></li>
                    </ul>
                </div>

                 <div class="col-3 footer-col">
                    <h3>Store</h3>
                    <ul>
                        <li><a href="">Who we are?</a></li>
                        <li><a href="">Contact</a></li>
                        <li><a href="">Localisation</a></li>
                    </ul>
                </div>

                 <div class="col-3 footer-col">
                    <h3>My account</h3>
                    <ul>
                        <li><a href="">Register</a></li>
                        <li><a href="">Login</a></li>
                        <li><a href="">Contact Us</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
